<div class="container">
  <h1 class="text-center">Atualizar Conta</h1>

  <a routerLink="/conta/index" class="btn btn-primary">Voltar</a>

  <form [formGroup]="form" (ngSubmit)="submit()" class="form-centered">

    <div class="form-group">
      <label for="title">Título:</label>
      <input
        formControlName="title"
        [(ngModel)]="conta.title"
        id="title"
        type="text"
        class="form-control"
        placeholder="Digite o título">
      <div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
        <div *ngIf="f['title'].errors?.['required']">O título é obrigatório.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="body">Comentário:</label>
      <textarea
        formControlName="body"
        [(ngModel)]="conta.body"
        id="body"
        class="form-control"
        placeholder="Digite o comentário">
      </textarea>
      <div *ngIf="f['body'].touched && f['body'].invalid" class="alert alert-danger">
        <div *ngIf="f['body'].errors?.['required']">O comentário é obrigatório.</div>
      </div>
    </div>

    <button class="btn btn-success" type="submit" [disabled]="!form.valid">Atualizar</button>
  </form>
</div>
