<div
  class="w-full overflow-x-scroll h-full flex justify-start sm:justify-center sm:overflow-hidden items-center shadow-xl rounded-xl p-8"
>
  <table
    class="w-full max-w-80 sm:max-w-none h-full max-h-80 md:max-h-96 overflow-scroll"
  >
    <thead>
      <tr class="hidden justify-center sm:flex items-center gap-8 pb-8">
        <th class="nunito text-xl font-bold">
          {{ title }}
        </th>
      </tr>
      <tr class="gap-8 w-full flex justify-between">
        <th
          *ngIf="selectable"
          class="flex flex-1 nunito text-sm justify-center items-center gap-2"
        >
          <input
            type="checkbox"
            class="dark-blue-accent-text"
            [checked]="isAllChecked()"
            (change)="toggleAllChecked()"
          />
        </th>
        <th
          *ngFor="let header_th of headers"
          class="flex flex-1 nunito leading-3 text-sm justify-center items-center gap-2"
        >
          {{ header_th.name }}
          <button
            *ngIf="header_th?.sortable"
            (click)="sortByHeader(header_th.code)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-arrow-up-1-0"
              *ngIf="header_th?.sortable === 'number'"
            >
              <path d="m3 8 4-4 4 4" />
              <path d="M7 4v16" />
              <path d="M17 10V4h-2" />
              <path d="M15 10h4" />
              <rect x="15" y="14" width="4" height="6" ry="2" />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-arrow-down-0-1"
              *ngIf="header_th?.sortable === 'number_desc'"
            >
              <path d="m3 16 4 4 4-4" />
              <path d="M7 20V4" />
              <rect x="15" y="4" width="4" height="6" ry="2" />
              <path d="M17 20v-6h-2" />
              <path d="M15 20h4" />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-arrow-up-z-a"
              *ngIf="header_th?.sortable === 'string'"
            >
              <path d="m3 8 4-4 4 4" />
              <path d="M7 4v16" />
              <path d="M15 4h5l-5 6h5" />
              <path d="M15 20v-3.5a2.5 2.5 0 0 1 5 0V20" />
              <path d="M20 18h-5" />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-arrow-down-z-a"
              *ngIf="header_th?.sortable === 'string_desc'"
            >
              <path d="m3 16 4 4 4-4" />
              <path d="M7 4v16" />
              <path d="M15 4h5l-5 6h5" />
              <path d="M15 20v-3.5a2.5 2.5 0 0 1 5 0V20" />
              <path d="M20 18h-5" />
            </svg>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let row of rows"
        class="flex flex-1 justify-center items-center gap-8 pt-8"
      >
        <td
          *ngIf="selectable"
          class="flex flex-1 nunito text-sm justify-center items-center gap-2"
        >
          <input
            type="checkbox"
            class="dark-blue-accent-text"
            [checked]="isChecked(row.id)"
            (change)="selectRowById(row.id)"
          />
        </td>
        <td class="flex flex-1 justify-center items-center">
          <p class="nunito text-xs">
            {{ row.id }}
          </p>
        </td>
        <td
          *ngFor="let row_value of row.values"
          class="flex flex-1 justify-center items-center"
        >
          <p class="nunito text-xs text-center">
            {{ row_value.value }}
          </p>
          <!-- <ng-container
            *ngIf="headers.find((h) => h.code === row_value.code && h.data_view !== 'badge'"
          >
            <p class="nunito text-xs">
              {{ row_value.value }}
            </p>
          </ng-container> -->
        </td>
      </tr>
    </tbody>
    <!-- <tfoot>
      <tr class="flex gap-8 pt-8">
        <td
          *ngFor="let footer_row of footer_rows"
          class="flex nunito text-xs justify-center items-center gap-2"
          [ngClass]=""
          colspan="4"
        >
          {{ footer_row.name }}
        </td>
        <td>TESTE</td>
      </tr>
    </tfoot> -->
  </table>
</div>
